<div class="onboarding-backdrop" *ngIf="showOnboarding">
    <div class="onboarding-container">
        <button class="close-btn" (click)="closeOnboarding()">✖</button>
        <!-- Botón de cerrar en la esquina superior derecha -->

        <!-- Título cambiado y estilo más grande -->
        <h2>BIENVENIDO</h2>

        <!-- Redes sociales alineadas en círculos -->
        <div class="social-icons">
            <a href="https://web.facebook.com/dev.vicentefigueroa/" target="_blank" class="social-link">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://github.com/Vicente-Figueroa" target="_blank" class="social-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.instagram.com/vicentefigueroa.ia/" target="_blank" class="social-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/vicente-alonso-figueroa-alfaro/" target="_blank" class="social-link">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>

        <p>
            Sigueme en mis redes sociales para estar al dia con lo que hago.
        </p>

        <button class="btn btn-primary" (click)="closeOnboarding()">Entendido</button>
    </div>
</div>