<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Chatbot form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5 tittle">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                    <i class="bi bi-chat-dots"></i>
                </div>
                <h1 class="fw-bolder">Proto-Chatbot E-commerce</h1>
                <p class="lead fw-normal text-muted mb-0">Reconocimiento de intención y productos</p>
            </div>

            <!-- Chatbot description toggle -->
            <div class="mb-4">
                <button class="btn btn-info w-100 text-left d-flex justify-content-between align-items-center"
                    type="button" data-bs-toggle="collapse" data-bs-target="#chatbotDescription"
                    [attr.aria-expanded]="isExpanded('chatbotDescription')" aria-controls="chatbotDescription"
                    (click)="toggleExpansion('chatbotDescription')">
                    <span>Descripción del Chatbot</span>
                    <i class="fas"
                        [ngClass]="{'fa-chevron-up': isExpanded('chatbotDescription'), 'fa-chevron-down': !isExpanded('chatbotDescription')}"></i>
                </button>

                <div class="collapse" id="chatbotDescription">
                    <div class="card card-body mt-2">
                        <h4 class="card-title">Proto-Chatbot de E-commerce: Machine Learning e IA</h4>
                        <p class="card-text">
                            Este chatbot utiliza técnicas de machine learning para entender las intenciones del usuario
                            y reconocer productos en el contexto de una tienda de tecnología online. Algunas
                            características clave:
                        </p>
                        <ul>
                            <li>Funciona de manera independiente, sin usar ChatGPT</li>
                            <li>Identifica intenciones y entidades en las consultas del usuario</li>
                            <li>Puede manejar bases de datos, scripts y peticiones https en base a acciones concretas
                            </li>
                        </ul>
                        <p class="card-text">
                            En el futuro, planeamos integrar este sistema con ChatGPT para mejorar sus capacidades de
                            respuesta y comprensión. Este prototipo es un paso hacia chatbots más inteligentes y
                            eficientes en el comercio electrónico.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Switch para activar/desactivar el modo debug -->
            <div class="form-check form-switch mb-4">
                <input class="form-check-input" type="checkbox" id="debugModeSwitch" [(ngModel)]="debugMode" (ngModelChange)="onDebugModeChange($event)">
                <label class="form-check-label" for="debugModeSwitch">Modo Debug</label>
              </div>
            <!-- Conversation area -->
            <div #conversationContainer class="conversation-area mb-4"
                style="height: 300px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; padding-bottom: 20px; background-color: #f8f9fa;">
                <div *ngFor="let message of conversation" class="mb-3">
                    <!-- Mensaje del usuario -->
                    <div *ngIf="message.startsWith('Usuario:')" class="text-end">
                        <span class="bg-primary text-white py-2 px-3 d-inline-block user-message">
                            {{ message }}
                        </span>
                    </div>

                    <!-- Metadata del Chatbot -->
                    <div *ngIf="message.startsWith('Chatbot (Metadata):')" class="chatbot-metadata">
                        <div class="bg-light border rounded p-3">
                            <strong class="d-block mb-2">Metadata del Chatbot:</strong>
                            <pre style="white-space: pre-wrap; font-family: inherit; margin-bottom: 0;">
                    {{ message.substring(19) }} <!-- Remover "Chatbot (Metadata):" -->
                </pre>
                        </div>
                    </div>

                    <!-- Respuesta del Chatbot -->
                    <div *ngIf="message.startsWith('Chatbot:')" class="chatbot-response">
                        <div class="bg-light border rounded p-3">
                            <strong class="d-block mb-2">Respuesta del Chatbot:</strong>
                            <pre style="white-space: pre-wrap; font-family: inherit; margin-bottom: 0;">
                    {{ message.substring(8) }} <!-- Remover "Chatbot:" -->
                </pre>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Input area -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="userInput" placeholder="Escribe tu mensaje aquí..."
                    (keyup.enter)="sendMessage()" [disabled]="loading">
                <button class="btn btn-primary m-1" type="button" (click)="sendMessage()" [disabled]="loading">
                    <i class="bi bi-send"></i> Enviar
                </button>
                <button class="btn btn-danger m-1" type="button" (click)="clearLocalStorage()">
                    <i class="bi bi-trash"></i> Borrar conversación
                </button>
            </div>
            <!-- Loading indicator -->
            <div *ngIf="loading" class="text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
            <p class="mb-2">Sugerencias de preguntas:</p>
            <div class="d-flex flex-wrap gap-2 mb-2">
                <button class="btn btn-outline-primary btn-sm" (click)="sendSuggestion('¿Que productos tienen?')">¿Que
                    productos tienen?</button>
                <button class="btn btn-outline-primary btn-sm"
                    (click)="sendSuggestion('¿Cómo puedo iniciar sesión en mi cuenta?')">¿Cómo puedo iniciar sesión
                    en mi cuenta?</button>
                <button class="btn btn-outline-primary btn-sm"
                    (click)="sendSuggestion('Quiero registrarme, ¿qué datos necesito?')">Quiero registrarme, ¿qué
                    datos necesito?</button>
            </div>
            <button class="btn btn-link btn-sm mb-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#moreSuggestions" [attr.aria-expanded]="isExpanded('moreSuggestions')"
                aria-controls="moreSuggestions" (click)="toggleExpansion('moreSuggestions')">
                <i class="fas"
                    [ngClass]="{'fa-chevron-down': !isExpanded('moreSuggestions'), 'fa-chevron-up': isExpanded('moreSuggestions')}"></i>
                <span>{{ isExpanded('moreSuggestions') ? 'Ver menos' : 'Ver más' }}</span>
            </button>

            <div class="collapse" id="moreSuggestions">
                <div class="d-flex flex-wrap gap-2">

                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Tienen laptops en oferta?')">¿Tienen laptops en oferta?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Cómo puedo finalizar mi compra?')">¿Cómo puedo finalizar mi
                        compra?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('Busco un smartphone con buena cámara')">Busco un smartphone con buena
                        cámara</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Cuáles son los métodos de pago disponibles?')">¿Cuáles son los métodos
                        de pago disponibles?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Cómo puedo ver el estado de mi pedido?')">¿Cómo puedo ver el estado de
                        mi pedido?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('Quiero cambiar la contraseña de mi cuenta')">Quiero cambiar la
                        contraseña de mi cuenta</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Tienen envío gratis?')">¿Tienen envío gratis?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Cuál es su política de devoluciones?')">¿Cuál es su política de
                        devoluciones?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Puedo cancelar un pedido ya realizado?')">¿Puedo cancelar un pedido ya
                        realizado?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Tienen algún programa de lealtad o puntos?')">¿Tienen algún programa
                        de lealtad o puntos?</button>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="sendSuggestion('¿Cómo puedo comparar diferentes productos?')">¿Cómo puedo comparar
                        diferentes productos?</button>
                </div>
            </div>


        </div>
    </div>
</section>