<!-- Project Card 1-->
<div class="card overflow-hidden shadow rounded-4 border-0 mb-5 lg-screen">
    <div class="card-body p-0">
        <div class="d-flex align-items-center ">
            <div class="p-5">
                <h2 class="fw-bolder">{{name}}</h2>
                <p>{{description}}</p>
                <h2 class="small fw-bolder">Tecnologias</h2>
                <p>[{{tecnologies }}]</p>
            </div>
            <img class="img-fluid" src={{image}} alt="..." />
        </div>
    </div>
</div>

<!-- Experience Card 1-->
<div class="card shadow border-0 rounded-4 mb-5 sm-screen">
    <div class="card-body p-5">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <img class="img-fluid" src={{image}} alt="..." />
                    <div class="text-primary fw-bolder">{{name}}</div>
                    <h2 class="small fw-bolder">Tecnologias</h2>
                    <p class="small">[ {{tecnologies }} ]</p>
                    <button class="btn btn-dark" (click)="toggleDescription()">
                        {{showMore ? 'Ocultar' : 'Ver descripción'}}
                    </button>
                </div>
            </div> <!-- Botón "Ver más" -->

            <div class="col-lg-8">
                <div class="text-muted text-center">
                    <!-- Contenido oculto -->
                    <span [ngClass]="{'description-hidden': !showMore, 'description-shown': showMore}">
                        {{description}}
                    </span>
                </div>

            </div>

        </div>
    </div>
</div>