/* Estilos para la tarjeta grande */
.lg-screen {
    display: block;
    /* Mostrar la tarjeta grande por defecto */
    /* Estilos para la tarjeta grande */
}

/* Estilos para la tarjeta pequeña */
.sm-screen {
    display: none;
    /* Ocultar la tarjeta pequeña por defecto */
    /* Estilos para la tarjeta pequeña */
}

/* Media query para pantalla pequeña */
@media only screen and (max-width: 768px) {
    .lg-screen {
        display: none;
        /* Ocultar la tarjeta grande en pantalla pequeña */
    }

    .sm-screen {
        display: block;
        /* Mostrar la tarjeta pequeña en pantalla pequeña */
    }
}

/* Oculta el contenido extra por defecto */
.description-hidden {
    display: none;
    visibility: hidden;
}

/* Muestra el contenido cuando se hace clic en "Ver más" */
.description-shown {
    display: block;
    visibility: visible;
}

/* Muestra el contenido en grande */
.description-shown-large {
    display: block;
    visibility: visible;
}

/* Solo muestra el botón "Ver más" en dispositivos móviles */
@media only screen and (max-width: 768px) {
    .btn-ver-mas {
        display: block;
    }

    .description-shown-large {
        display: none;
        visibility: visible;
    }

}

@media only screen and (min-width: 769px) {
    .btn-ver-mas {
        display: none;
    }

    /* Asegurar que el contenedor de la imagen tiene un tamaño definido */
    .image-container {
        width: 100%;
        /* Ancho completo del contenedor padre */
        height: 300px;
        /* Definimos una altura fija para que la imagen ocupe su espacio */
        position: relative;
        overflow: hidden;
        /* Evitar que el contenido de la imagen sobresalga */
        flex-grow: 1;
        /* Permitir que el contenedor crezca para llenar el espacio disponible */
    }

    /* Aseguramos que la imagen cubra el contenedor, cortando si es necesario */
    .img {
        max-width: 25vw;
        /* Asegura que la imagen ocupe todo el ancho del contenedor */

        object-fit: cover;
        /* Esto hará que la imagen se corte si no encaja, manteniendo las proporciones */
        object-position: center;
        /* Centrar la imagen en el contenedor */
        cursor: pointer;
        /* Cambiar el cursor a mano */
        margin-right: 20px;
    }

    /* Aseguramos que el ícono de lupa esté bien ubicado */
    .click-icon {
        position: absolute;
        top: 10px;
        /* Ajustamos la distancia desde la parte superior */
        margin-right: 25px;
        /* Ajustamos la distancia desde la parte derecha */
        font-size: 2rem;
        color: rgba(0, 64, 255, 0.85);
        /* Color azul con algo de transparencia */
        pointer-events: none;
        /* No bloqueará el clic en la imagen */
    }

    /* Ajustamos el color del ícono cuando se pasa el cursor sobre la imagen */
    .img-fluid:hover~.click-icon i {
        color: rgba(0, 123, 255, 1);
    }
}

/* Contenedor de la imagen y el ícono */
.position-relative {
    position: relative;
}

.click-icon {
    position: absolute;
    top: -10px;
    /* Ajusta la distancia desde la parte superior */
    right: -10px;
    /* Ajusta la distancia desde la parte derecha */
    font-size: 1.5rem;
    /* Tamaño del ícono */
    color: rgba(0, 64, 255, 0.85);
    /* Color azul con algo de transparencia */
    pointer-events: none;
    /* No bloqueará el clic en la imagen */
}

.img-fluid {
    cursor: pointer;
    /* Cambiar el cursor a mano */
}

.click-icon i {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* Asegura que se use la versión sólida del ícono */
}

/* Opcional: Cambiar el color del ícono al pasar el ratón */
.img-fluid:hover~.click-icon i {
    color: rgba(0, 123, 255, 1);
    /* Aumentar la opacidad al 100% al pasar el mouse */
}




/* Estilos para el Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    box-sizing: border-box;
    /* Asegura que el lightbox cubre toda la pantalla */
    animation: fadeIn 0.5s ease-out;
}

/* Contenedor de la imagen y el texto */
.lightbox-content-wrapper {
    max-width: 900px;
    /* Ajuste del ancho máximo */
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    /* Bordes más redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    /* Ajuste de sombra */
    padding: 20px;
    box-sizing: border-box;
    animation: zoomIn 0.5s ease-out;
    transform: scale(0.95);
    transform-origin: center center;
    margin-top: 50px;
    transition: transform 0.5s ease-in-out;
}

/* Imagen con marco elegante */
.lightbox-content {
    width: 100%;
    height: auto;
    max-width: 850px;
    /* Ancho máximo para la imagen */
    max-height: 450px;
    /* Altura máxima */
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    /* Borde más delgado */
    border-radius: 10px;
    object-fit: contain;
}

/* Estilo del texto debajo de la imagen */
.lightbox-caption {
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: #333;
    max-width: 850px;
    margin: auto;
}

/* Descripción del proyecto */
.lightbox-caption p {
    background-color: #fff;
    /* Fondo blanco */
    padding: 15px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
    line-height: 1.6;
    margin: 10px 0;
    color: #666;
    font-size: 1rem;
    /* Ajuste del tamaño de la fuente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

/* Título de las tecnologías */
.lightbox-caption h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #444;
}

/* Lista de tecnologías */
.lightbox-caption .technologies {
    font-size: 0.95rem;
    color: #333;
    margin: 5px 0;
}

/* Animación para el Lightbox (fondo) */
@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.85);
    }
}

/* Animación de zoom para el contenido */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Botón de cierre */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .lightbox-content-wrapper {
        max-width: 95%;
        padding: 15px;
    }

    .lightbox-content {
        max-width: 100%;
        max-height: 300px;
    }

    .lightbox-caption {
        max-width: 100%;
        font-size: 0.9rem;
    }

    .lightbox-caption h2 {
        font-size: 1rem;
    }

    .lightbox-caption .technologies {
        font-size: 0.85rem;
    }

    /* Contenedor de la imagen y el texto */
    .lightbox-content-wrapper {

        margin-top: 90px;
    }
}