<!-- Experience Card 1-->
<div class="card shadow border-0 rounded-4 mb-5">
    <div class="card-body p-5">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <img class="img-thumbnail" src={{image}} alt="#">
                    <div class="text-primary fw-bolder mb-2">{{date}}</div>
                    <div class="small fw-bolder">{{job}}</div>
                    <div class="small text-muted">{{enterprise}}</div>
                    <div class="small text-muted">{{city}}</div>
                </div>
            </div>
            <!-- Botón "Ver más" -->
            <button class="btn btn-dark btn-ver-mas mb-4" (click)="toggleDescription()">
                {{showMore ? 'Ocultar' : 'Ver descripción'}}
            </button>
            <div class="col-lg-8">
                <div class="text-muted text-center description-shown-large">
                    <!-- Muestra una parte de la descripción -->
                    <span>{{description}}</span>
                </div>
                <div class="text-muted text-center">
                    <!-- Contenido oculto -->
                    <span [ngClass]="{'description-hidden': !showMore, 'description-shown': showMore}">
                        {{description}}
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>