<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-left mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experiencia</h2>
                </div>
                <!--Empresa 1-->
                <app-cards image="defontana.png" date='2022-2024' job='Ingeniero de Datos' enterprise='Defontana'
                    city='Santiago, Chile' description='Desarrollé e implementé pipelines de datos escalables para transportar
                    información desde fuentes originales hasta un datalake, y diseñé dashboards personalizados
                    para satisfacer las necesidades de los stakeholders.'></app-cards>
                <!--Empresa 2-->
                <app-cards image="cymasuite.png" date='2022' job='Ingeniero de Machine Learning' enterprise='Cymasuite'
                    city='Santiago, Chile' description='Como ingeniero de aprendizaje automático, mi función fue analizar y extraer insights
                     valiosos de grandes bases de datos, identificando patrones y tendencias
                      que permitieron desarrollar modelos predictivos y de clasificación precisos.'></app-cards>
                <!--Empresa 3-->
                <app-cards image="rubits.jfif" date='2021' job='Ingeniero BackEnd' enterprise='Rubits Works'
                    city='La Serena, Chile' description='Como desarrollador backEnd, diseñé y desarrollé una 
                    API REST con Python, garantizando la integridad y seguridad de los datos.
                    También lideré una migración entre bases de datos,
                    asegurando la continuidad de los servicios y minimizando el tiempo de inactividad..'></app-cards>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Educación</h2>
                <!--Educación 1-->
                <app-cards image="uba.png" date='2024' job='Especialización en Deep Learning'
                    enterprise='Centro de Graduados de la Universidad de Buenos Aires' city='Remoto' description='En este programa, profundicé en temas avanzados como
                    redes neuronales convolucionales, redes recurrentes, aprendizaje 
                    por refuerzo, visión por computadora y procesamiento de lenguaje natural,
                    entre otros. Desarrollé proyectos prácticos y trabajé con datasets 
                    complejos para resolver problemas de clasificación, regresión y clustering.'>
                </app-cards>
                <!--Educación 2-->
                <app-cards image="ucn.png" date='2015-2021' job='Ingenieria en Información y control de Gestión'
                    enterprise='Universidad Catolica del Norte' city='Coquimbo, Chile' description='La carrera de Ingeniería en Información y Control de Gestión
                    se enfoca en la planificación, diseño, implementación y evaluación de 
                    sistemas de información y procesos de negocio que permitan a las 
                    organizaciones tomar decisiones informadas y mejorar su desempeño.'>
                </app-cards>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-tools"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Habilidades
                                        profesionales</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Analisis de
                                        datos</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Mineria de Datos
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Dashboards y
                                        Reportes
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Inteligencia
                                        Artificial
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Desarrollo de
                                        sistemas</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Desarrollo de
                                        Chatbots</div>
                                </div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-code-slash"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Angular</div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">TensorFlow</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">AWS</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spark</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>