<section class="py-5 chat">
  <div class="loading-spinner" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

  <div class="container px-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline tittle">Chat</span>
      </h1>
    </div>
    <!-- Contact form-->
    <div class="bg-light rounded-4 py-5 px-4 px-md-5 justify-content-center">
      <div *ngFor="let message of conversation">
        <div class="chat-message">
          <p>{{ message }}</p>
        </div>
      </div>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="question"
        placeholder="Ingresa tu pregunta"
        (keyup.enter)="askQuestion()"
      />
      <!-- Submit Button-->
      <div class="d-grid mt-3">
        <button
          class="btn btn-dark-2 btn-lg"
          type="submit"
          [disabled]="loading || !question"
          (click)="askQuestion()"
        >
          Enviar
        </button>
      </div>
      <!-- Popup -->
      <div class="popup" *ngIf="showPopup">
        <div class="popup-content">
          <p>
            Si quieres seguir chateando, envíame un correo para que hablemos.
          </p>
          <input
            class="form-control"
            type="text"
            [(ngModel)]= "email"
            placeholder="Ingresa tu correo"
          />
          <button class="btn btn-dark-2 email" (click)="closePopup()"  [disabled]="!email">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</section>
