.bg-white-2 {
    background-color: #ffffffe5;
}

.icon {
    width: 45px;
    height: 45px;
    margin-right: 8px;
}
.xl-none {
    display: none;
}
@media (max-width: 576px) {
    .sm-none {
        display: none;
    }
    .icon {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    .xl-none {
        display:inline;
    }
    
}