.bg-white-2 {
    background-color: #ffffffe5;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.xl-none {
    display: none;
}

@media (max-width: 576px) {
    .sm-none {
        display: none;
    }

    .icon {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    .xl-none {
        display: inline;
    }

}



/* Ajustes para pantallas extra grandes */
@media (min-width: 800px) {
    .navbar-nav .nav-item {
        margin-right: 20px;
    }


    /* Alinear el switch del modo debug en pantallas grandes */
    .form-check.form-switch {
        margin-right: 20px;
    }

    .form-check {
        font-size: 0.8em;
    }
}

.dropdown-menu {
    padding: 10px 0;
}

.dropdown-menu .nav-item {
    padding: 5px 0;
}

.dropdown-menu .dropdown-item {
    padding: 8px 20px;
    font-size: 0.9rem;
    line-height: 1.2;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
}